<configuration>
  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT"/>
  </appender>

  <springProfile name="prod">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %green(%X{traceId:-}) %green(%X{spanId:-}) %highlight(%-5level) %cyan(%logger{36}) - %msg%n
        </pattern>
      </encoder>
    </appender>
  </springProfile>

  <springProfile name="!prod">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %green(%X{traceId:-}) %green(%X{spanId:-}) %highlight(%-5level) %cyan(%logger{36}) - %msg%n
        </pattern>
      </encoder>
    </appender>
  </springProfile>

  <root level="*">
    <appender-ref ref="ASYNCSTDOUT"/>
  </root>

</configuration>